/**
 * General
 *
 */

html {
    position: relative;
}

body {
    overflow-x: hidden;
    background-color: $white;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: unset;
    }

    &:focus {
        outline: none !important;
    }
}

.accordion {
    .card {
        background-color: unset;
        border: unset;
        border-radius: unset;
        .card-header {
            background-color: unset;
            border-bottom: unset;
            padding: 0.2rem 1.25rem;
            h3 {
                font-weight: bold;
                .btn {
                    display: block;
                    border: unset;
                    border-top: 1px solid $primary;
                    width: 100%;
                    text-align: left;
                    color: $primary;
                    font-weight: bold;
                    border-radius: unset;

                    &:not(:disabled):not(.disabled):active,
                    &:not(:disabled):not(.disabled).active {
                        background-color: transparent !important;
                    }

                    &.btn-link {
                        &:hover,
                        &:focus,
                        &.focus {
                            text-decoration: none !important;
                            box-shadow: none !important;
                        }
                    }
                    &.collapsed:after {
                        content: "\f0d7";
                    }
                    &:after {
                        font-family: "FontAwesome";
                        content: "\f0d8";
                        float: right;
                    }
                }
            }
        }
        .card-body {
            padding: 15px 70px;
        }
    }
}

.anchor {
    display: block;
    position: relative;
    top: 8rem;
    visibility: hidden;
    &.a-16 {
        top: 16rem;
    }
}

.bg-dark {
    background-color: $black !important;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-light {
    background-color: $light !important;
}

.box-primary {
    background-color: $primary !important;
    color: #000;
    .big {
        color: $white;
    }
}

.collapse-component {
    #btns-container {
        display: flex;
        justify-content: space-between;
    }
    #body-component {
        .collapse {
            display: none;
            &.active {
                display: block;
            }
            img {
                width: 100px;
            }
            .divider {
                background-color: $secondary;
                color: $white;
                font-weight: bold;
                padding: 0.5rem 0 0.5rem 130px;
            }
        }
    }
}

.drawer-veil {
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: $gray-900;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.font-light {
    font-family: "Roboto Light";
}

.manual-video-controls {
    min-height: 100vh;
    .icons {
        width: 100px;
        height: auto;
        border: 2px solid $primary;
        transition: transform 0.5s;
        cursor: pointer;
        &:hover,
        &.active {
            border: 3px solid $primary;
            transform: scale(1.2);
        }
    }
}

#preloader {
    background-color: $secondary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.primary {
    color: $primary;
}

.pt-8 {
    padding-top: 8rem;
}

.secondary {
    color: $secondary;
}

.scrollSequenceFadeIn {
    min-height: 100vh;
    .sequence-wrap {
        position: relative;
        img.anime {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.sound-icon {
    width: 50px;
    cursor: pointer;
}

.w-fc {
    width: fit-content;
}

.white {
    color: $white;
    &.border-bottom {
        border-bottom: 1px solid $white !important;
    }
}

.x-gallery {
    img {
        width: 100%;
        height: auto;
        background: #f0f0f0;
    }

    ul {
        padding-left: 1rem;
        list-style: none;
    }

    li {
        flex-shrink: 0;
        width: clamp(500px, 60vw, 800px);
        padding-right: 1rem;
    }

    header {
        height: 100vh;
    }
    footer {
        height: 50vh;
    }

    :any-link {
        color: #4e9815;
    }

    .demo-wrapper {
        overflow-x: hidden;
    }

    .wrapper {
        display: flex;
    }

    .demo-gallery:not(.last) {
        padding-bottom: 1rem;
    }

    .demo-text .text {
        font-size: clamp(8rem, 15vw, 16rem);
        line-height: 1;
        font-weight: 900;
    }
}

main {
    overflow-x: hidden;
    section {
        position: relative;
        box-sizing: border-box;
        background-color: $white;
        &#cover {
            height: 100vh;
            video {
                object-fit: cover;
            }
        }
        &.panel,
        &.panel-static {
            position: relative;
            height: 100vh;
            img {
                object-fit: cover;
            }
            &.panel-07 {
                height: unset;
            }
            .caption {
                position: absolute;
                &.panel-01 {
                    top: 25%;
                    left: 25%;
                    &.bottom {
                        top: unset;
                        left: unset;
                        bottom: 10%;
                        right: 25%;
                        width: 380px;
                    }
                }
                &.panel-02 {
                    top: 25%;
                    left: 15%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-05 {
                    top: 40%;
                    left: 55%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-06 {
                    bottom: 10%;
                    left: 10%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-07 {
                    top: 7%;
                    left: 25%;
                    .bottom {
                        width: 400px;
                    }
                }
            }
        }

        &#home {
            height: 100vh;
        }

        &.cta-container {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &#home-11 {
            min-height: 100vh;
            .container {
                padding-top: 10rem;
                padding-bottom: 10rem;
                .row {
                    .big {
                        font-size: $font-size-base * 4;
                        font-weight: bold;
                    }
                    .icons {
                        width: 100px;
                        height: auto;
                    }
                }
            }
        }

        &#SOUND {
            .container {
                position: relative;
                z-index: 2;
            }
            &::after {
                content: "\A";
                position: absolute;
                background: $secondary;
                top: -10%;
                left: 0;
                width: 100%;
                height: 65%;
                z-index: 1;
            }
        }

        &#home-carousel {
            .carousel {
                height: 600px;
                .carousel-inner {
                    height: 100%;
                    .carousel-caption {
                        position: relative;
                        bottom: unset;
                        left: unset;
                        right: unset;
                        margin-top: 2rem;
                        color: $black;
                    }
                }
                .carousel-indicators {
                    top: 315px;
                    li {
                        background-color: $primary;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        &#CONNECTIVITY {
            .logo {
                width: 200px;
            }
        }

        &#api-cards {
            position: relative;
            min-height: 50vh;
            .container {
                position: absolute;
                top: -20%;
                left: 50%;
                transform: translateX(-50%);
            }
            .card {
                padding-top: 2rem;
                color: $white;
                background-color: $secondary;
                .card-img-top {
                    width: fit-content;
                    margin: 0 auto;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $white;
                }
                .card-body {
                    min-height: 400px;
                }
            }
        }

        &#DUMMY {
            min-height: 100vh;
        }
    }
}

// Large devices (desktops, less than 1440px)
@media (max-width: 1440px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
    main {
        section {
            &#home-11 {
                h1 {
                    font-size: 2rem;
                }
                .container {
                    .row {
                        .big {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}

// Ipad Pro landscape
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
}

// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
    main {
        section {
            &#home-11 {
                .container {
                    .row {
                        padding-bottom: 5rem;
                    }
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    main {
        section {
            &#home-11 {
                .container {
                    padding-bottom: unset;
                    .row {
                        .icons {
                            width: 70px;
                        }
                        h1 {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

// iPhoneX Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}
