/**
 * General
 *
 */

html {
    position: relative;
}

body {
    overflow-x: hidden;
    background-color: $white;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: unset;
    }

    &:focus {
        outline: none !important;
    }
}

.accordion {
    .card {
        background-color: unset;
        border: unset;
        border-radius: unset;
        .card-header {
            background-color: unset;
            border-bottom: unset;
            padding: 0.2rem 1.25rem;
            h3 {
                font-weight: bold;
                .btn {
                    display: block;
                    border: unset;
                    border-top: 1px solid $primary;
                    width: 100%;
                    text-align: left;
                    color: $primary;
                    font-weight: bold;
                    border-radius: unset;

                    &:not(:disabled):not(.disabled):active,
                    &:not(:disabled):not(.disabled).active {
                        background-color: transparent !important;
                    }

                    &.btn-link {
                        &:hover,
                        &:focus,
                        &.focus {
                            text-decoration: none !important;
                            box-shadow: none !important;
                        }
                    }
                    &.collapsed:after {
                        content: "\f0d7";
                    }
                    &:after {
                        font-family: "FontAwesome";
                        content: "\f0d8";
                        float: right;
                    }
                }
            }
        }
        .card-body {
            padding: 15px 70px;
        }
    }
}

.anchor {
    display: block;
    position: relative;
    top: 8rem;
    visibility: hidden;
    &.a-16 {
        top: 16rem;
    }
}

.bg-dark {
    background-color: $black !important;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-light {
    background-color: $light !important;
}

.box-primary {
    background-color: $primary !important;
    color: #000;
    .big {
        color: $white;
    }
}

.collapse-component {
    #btns-container {
        display: flex;
        justify-content: space-between;
    }
    #body-component {
        .collapse {
            display: none;
            &.active {
                display: block;
            }
            img {
                width: 80px;
            }
            .divider {
                background-color: $secondary;
                color: $white;
                font-weight: bold;
                padding: 0.5rem 0 0.5rem 130px;
            }
        }
    }
}

#cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $secondary;
    .btn {
        width: 270px;
    }
}

.drawer-veil {
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: $gray-900;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.font-light {
    font-family: "Roboto Light";
}

.gs_reveal {
    opacity: 0;
    visibility: hidden;
    transition: transform 0s;
}

.manual-video-controls {
    min-height: 100vh;
    .icons {
        width: 100px;
        height: auto;
        border: 2px solid $primary;
        transition: transform 0.5s;
        cursor: pointer;
        &:hover,
        &.active {
            border: 3px solid $primary;
            transform: scale(1.2);
        }
    }
}

#preloader {
    background-color: $secondary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.primary {
    color: $primary;
}

.pt-8 {
    padding-top: 8rem;
}

.secondary {
    color: $secondary;
}

.scrollSequenceFadeIn {
    min-height: 100vh;
    .sequence-wrap {
        position: relative;
        img.anime {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.sound-icon {
    width: 50px;
    cursor: pointer;
}

.w-fc {
    width: fit-content;
}

.white {
    color: $white;
    &.border-bottom {
        border-bottom: 1px solid $white !important;
    }
}

.x-gallery {
    img {
        width: 100%;
        height: auto;
        background: #f0f0f0;
    }

    ul {
        padding-left: 1rem;
        list-style: none;
    }

    li {
        flex-shrink: 0;
        width: clamp(500px, 60vw, 800px);
        padding-right: 1rem;
    }

    header {
        height: 100vh;
    }
    footer {
        height: 50vh;
    }

    :any-link {
        color: #4e9815;
    }

    .demo-wrapper {
        overflow-x: hidden;
    }

    .wrapper {
        display: flex;
    }

    .demo-gallery:not(.last) {
        padding-bottom: 1rem;
    }

    .demo-text .text {
        font-size: clamp(8rem, 15vw, 16rem);
        line-height: 1;
        font-weight: 900;
    }
}

main {
    overflow-x: hidden;
    section {
        position: relative;
        box-sizing: border-box;
        background-color: $white;
        &#cover {
            height: 100vh;
            background-color: $black;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.panel,
        &.panel-static {
            position: relative;
            height: 100vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.panel-07 {
                height: unset;
            }
            .caption {
                position: absolute;
                &.panel-01 {
                    top: 25%;
                    left: 25%;
                    &.bottom {
                        top: unset;
                        left: unset;
                        bottom: 10%;
                        right: 25%;
                        width: 380px;
                    }
                }
                &.panel-02 {
                    top: 25%;
                    left: 15%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-05 {
                    top: 40%;
                    left: 55%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-06 {
                    bottom: 10%;
                    left: 10%;
                    .bottom {
                        width: 380px;
                    }
                }
                &.panel-07 {
                    top: 7%;
                    left: 25%;
                    .bottom {
                        width: 400px;
                    }
                }
            }
        }

        &#home {
            height: 100vh;
        }

        &.cta-container {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &#home-11 {
            min-height: 100vh;
            .container {
                padding-top: 10rem;
                padding-bottom: 10rem;
                .row {
                    .big {
                        font-size: $font-size-base * 4;
                        font-weight: bold;
                    }
                    .icons {
                        width: 100px;
                        height: auto;
                    }
                }
            }
        }

        &#SOUND {
            .container {
                position: relative;
                z-index: 2;
            }
            &::after {
                content: "\A";
                position: absolute;
                background: $secondary;
                top: -10%;
                left: 0;
                width: 100%;
                height: 65%;
                z-index: 1;
            }
        }

        &#home-carousel {
            .carousel {
                height: 600px;
                .carousel-inner {
                    height: 100%;
                    .carousel-caption {
                        position: relative;
                        bottom: unset;
                        left: unset;
                        right: unset;
                        margin-top: 2rem;
                        color: $black;
                    }
                }
                .carousel-indicators {
                    top: 315px;
                    li {
                        background-color: $primary;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        &#CONNECTIVITY {
            .logo {
                width: 200px;
            }
        }

        &#api-cards {
            position: relative;
            min-height: 50vh;
            .container {
                position: absolute;
                top: -20%;
                left: 50%;
                transform: translateX(-50%);
            }
            .card {
                padding-top: 2rem;
                color: $white;
                background-color: $secondary;
                .card-img-top {
                    width: fit-content;
                    margin: 0 auto;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $white;
                }
                .card-body {
                    min-height: 400px;
                }
            }
        }

        &#CONFIGURATOR {
            margin-bottom: 10rem;
            #models-selector {
                img {
                    width: 120px;
                    height: 120px;
                    border: 2px solid $secondary;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    &:hover,
                    &.active {
                        border: 3px solid $secondary;
                        transform: scale(1.1);
                    }
                }
            }
            #colors-selector {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .color {
                    min-width: 70px;
                    min-height: 70px;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover,
                    &.active {
                        transform: scale(1.15);
                    }
                }
            }
            .img-wrap {
                position: relative;
                min-height: 450px;
                img {
                    position: absolute;
                }
            }
            #capote {
                padding-top: 1rem;
                .wrap-colors-capote {
                    display: flex;
                    justify-content: center;
                    div {
                        width: 80px;
                        img {
                            width: 60px;
                            height: auto;
                        }
                    }
                }
            }
        }

        &#DUMMY {
            min-height: 100vh;
        }
    }
}

// Large devices (desktops, less than 1440px)
@media (max-width: 1440px) {
    main {
        section {
            &#api-cards {
                .card {
                    .card-body {
                        min-height: 460px;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
    .manual-video-controls {
        min-height: 50vh;
    }
    main {
        section {
            &#cover {
                display: flex;
                align-items: center;
                video {
                    object-fit: cover;
                    transform: scale(1);
                }
            }
            &.panel,
            &.panel-static {
                position: relative;
                height: 100vh;
                img {
                    object-fit: cover;
                }
                &.panel-07 {
                    height: unset;
                }
                .caption {
                    position: absolute;
                    &.panel-01 {
                        top: 15%;
                    }
                    &.panel-02 {
                        top: unset;
                        left: unset;
                        bottom: 10%;
                        right: 10%;
                    }
                    &.panel-05 {
                        top: unset;
                        left: unset;
                        bottom: 10%;
                        right: 10%;
                    }
                }
            }

            &#home-11 {
                h1 {
                    font-size: 2rem;
                }
                .container {
                    .row {
                        .big {
                            font-size: 3rem;
                        }
                    }
                }
            }

            &#api-cards {
                .container {
                    top: -13%;
                }
            }

            &#CONFIGURATOR {
                #colors-selector {
                    justify-content: left;
                }
            }
        }
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .manual-video-controls {
        min-height: 100vh;
    }
    main {
        section {
            &#api-cards {
                min-height: 70vh;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
}

@media (max-width: 992px) and (orientation: landscape) {
    h1 {
        font-size: 2rem;
    }
    .manual-video-controls {
        .wrap-icons {
            .icons {
                width: 80px;
            }
        }
    }
    main {
        section {
            &.panel,
            &.panel-static {
                .caption {
                    &.panel-01 {
                        left: 15px;
                        &.bottom {
                            right: unset;
                            left: unset;
                            right: 15px;
                        }
                    }
                    &.panel-02 {
                        right: unset;
                        left: 15px;
                    }
                }
            }
            &#SOUND {
                &::after {
                    top: -1%;
                    height: 23%;
                }
            }

            &#CONFIGURATOR {
                .img-wrap {
                    min-height: 205px;
                }
            }
        }
    }
}

// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
    main {
        section {
            &#home-11 {
                .container {
                    .row {
                        padding-bottom: 5rem;
                    }
                }
            }

            &#SOUND {
                &::after {
                    top: -1%;
                    height: 19%;
                }
            }

            &#CONNECTIVITY {
                .btn-wrap {
                    flex-wrap: wrap;
                    .btn {
                        margin-bottom: 1rem;
                        margin-right: 0 !important;
                        margin-left: 0 !important;
                        font-size: 0.8rem;
                        width: 45vw;
                    }
                }
            }

            &.panel,
            &.panel-static {
                position: relative;
                height: 100vh;
                img {
                    object-fit: cover;
                }
                &.panel-07 {
                    height: unset;
                    .caption {
                        position: relative;
                        top: unset;
                        left: unset;
                        padding-top: 4rem;
                        padding-bottom: 4rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h1 {
                            color: $secondary;
                            width: fit-content;
                            &.border-bottom {
                                border-bottom: 1px solid $secondary !important;
                            }
                        }
                        p {
                            color: $secondary;
                        }
                        .bottom {
                            width: calc(100vw - 30px);
                        }
                    }
                }
            }

            &#api-cards {
                position: relative;
                min-height: 50vh;
                .container {
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: unset;
                    .card {
                        margin: 1rem 0;
                    }
                }
            }

            &#CUSTOMIZE {
                .last {
                    padding-left: 110px;
                }
            }

            &#CONFIGURATOR {
                #models-selector {
                    div {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                        &:last-child {
                            margin-right: 0 !important;
                        }
                    }
                }
                #colors-selector {
                    justify-content: center !important;
                    .color {
                        min-width: 40px;
                        min-height: 40px;
                    }
                }
                .img-wrap {
                    min-height: 350px;
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    .manual-video-controls {
        min-height: 120vh;
        .wrap-icons {
            justify-content: center !important;
            .icons {
                width: 55px;
                margin-right: 1rem;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
    h1 {
        font-size: 2rem;
    }
    .x-gallery {
        &.pt-8 {
            padding-top: 0;
        }
    }
    main {
        section {
            &.panel,
            &.panel-static {
                .caption {
                    position: absolute;
                    &.panel-01 {
                        right: unset;
                        left: 15px;
                        &.bottom {
                            top: unset;
                            right: unset;
                            left: 15px;
                            bottom: 10%;
                            width: calc(100vw - 31px);
                        }
                    }
                    &.panel-02 {
                        right: unset;
                        left: 15px;
                    }

                    &.panel-05 {
                        right: unset;
                        left: 15px;
                    }
                    &.panel-06 {
                        width: calc(100vw - 31px);
                        right: unset;
                        left: 15px;
                    }
                }
            }

            &#home-11 {
                .container {
                    padding-bottom: unset;
                    .row {
                        .icons {
                            width: 70px;
                        }
                        h1 {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            &#SOUND {
                &::after {
                    height: 27%;
                }
            }

            &#CONNECTIVITY {
                .btn-wrap {
                    .btn {
                        width: 80vw;
                    }
                }
            }

            &#CUSTOMIZE {
                &.pt-8 {
                    padding-top: 0;
                }
                #btns-container {
                    justify-content: flex-start;
                    .btn-custom {
                        margin-right: 1rem;
                        font-size: 1rem;
                    }
                }
                .collapse-component {
                    #body-component {
                        .collapse {
                            img {
                                width: 50px;
                            }
                            .divider {
                                padding: 0.5rem 1rem 0.5rem 1rem;
                            }
                        }
                    }
                }
            }

            &#CONFIGURATOR {
                #CONFIGURATOR__colorName {
                    margin-left: 1rem !important;
                    font-size: 1.8rem;
                }
                #models-selector {
                    div {
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                #colors-selector {
                    justify-content: start;
                    .color {
                        min-width: 40px;
                        min-height: 40px;
                    }
                }
                .img-wrap {
                    min-height: 140px;
                }
            }
        }
    }
}

// Extra small devices iPhone 5 (portrait phones, less than 576px)
@media (max-width: 375px) {
    .manual-video-controls {
        padding-top: 2rem;
        .wrap-icons {
            .icons {
                width: 50px;
            }
        }
    }
    main {
        h1 {
            font-size: 1.8rem;
        }
        section {
            &#cover {
                video {
                    object-fit: contain;
                    transform: scale(2.8);
                }
            }
            &.panel,
            &.panel-static {
                .caption {
                    &.panel-05 {
                        right: unset;
                        left: 15px;
                        .bottom {
                            width: calc(100vw - 30px);
                        }
                    }
                }
            }

            &#CONNECTIVITY {
                .btn-wrap {
                    .btn {
                        width: 85vw;
                    }
                }
            }

            &#CONFIGURATOR {
                #CONFIGURATOR__colorName {
                    margin-left: 1rem !important;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// iPhoneX Landscape
@media (max-width: 812px) and (orientation: landscape) {
    main {
        section {
            &#CONNECTIVITY {
                .btn-wrap {
                    .btn {
                        font-size: 0.8rem;
                    }
                }
            }
            &#api-cards {
                position: relative;
                min-height: 50vh;
                .container {
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: unset;
                    .card {
                        margin: 1rem 0;
                    }
                }
            }

            &#CONFIGURATOR {
                #models-selector {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                #colors-selector {
                    justify-content: center !important;
                    .color {
                        min-width: 50px;
                        min-height: 50px;
                    }
                }
                .img-wrap {
                    min-height: 290px;
                }
            }
        }
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}
