/**
 * buttons
 *
 */

.btn {
    font-size: 1rem;
    padding: 15px 50px;
    border: 2px solid $primary;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    &.btn-primary {
        color: $white;
        background-color: $primary;
        &:hover {
            color: $white;
            background-color: darken($primary, 10%);
            border-color: darken($primary, 5%);
        }
    }
    &.btn-link {
        color: $primary;
        &:hover {
            color: darken($primary, 10%);
        }
    }
    &:focus,
    &.focus {
        border-color: $primary;
        // box-shadow: 0 0 0 0.2rem rgba($primary,.5) !important;
        box-shadow: unset !important;
        outline: none !important;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $primary !important;
        border-color: $primary !important;
    }
    &.btn-light {
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background-color: $primary !important;
            border-color: $white !important;
            color: $white !important;
        }
    }
}
