/**
 * buttons
 *
 */

.btn {
    position: relative;
    font-size: 1rem;
    padding: 10px 50px;
    border: 2px solid $primary;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    i.l-icon {
        position: absolute;
        top: 3px;
        left: 6px;
        font-size: 2.5rem;
    }
    &.btn-primary {
        color: $white;
        background-color: $primary;
        &:hover {
            color: $white;
            background-color: darken($primary, 10%);
            border-color: darken($primary, 5%);
        }
    }
    &:focus,
    &.focus {
        border-color: $primary;
        // box-shadow: 0 0 0 0.2rem rgba($primary,.5) !important;
        box-shadow: unset !important;
        outline: none !important;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: $primary !important;
        border-color: $primary !important;
    }
    &.btn-light {
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background-color: $primary !important;
            border-color: $white !important;
            color: $white !important;
        }
    }
    &.btn-link {
        color: $primary;
        &:hover {
            color: darken($primary, 10%);
        }
        &.btn-custom {
            color: lighten($secondary, 10%);
            font-weight: bold;
            font-size: $h3-font-size;
            border: none !important;
            background-color: transparent !important;
            padding: 0;
            &:hover,
            &:active,
            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled).active {
                color: $secondary;
                border: none !important;
                background-color: transparent !important;
                text-decoration: underline;
            }
        }
    }
}
