.mbri-icon {
    font-family: "my-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-carconfigurator:before {
    content: "\e901";
}
.icon-left-arrow-carousel:before {
    content: "\e902";
}
.icon-long-left-arrow:before {
    content: "\e903";
}
.icon-long-right-arrow:before {
    content: "\e904";
}
.icon-quotation:before {
    content: "\e905";
}
.icon-right-arrow-carousel:before {
    content: "\e906";
}
.icon-short-left-arrow:before {
    content: "\e907";
}
.icon-short-right-arrow:before {
    content: "\e908";
}
.icon-social-facebook:before {
    content: "\e909";
}
.icon-social-twitter:before {
    content: "\e90a";
}
.icon-social-wa:before {
    content: "\e90b";
}
.icon-test-drive:before {
    content: "\e90c";
}
.icon-dealerlocator:before {
    content: "\e90d";
}
